@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'Android';
    src: url('../fontes/idroid.otf') format('opentype');
    font-weight: normal;
}

*{
    padding: 0px;
    margin: 0px;
}

p {
    margin: 15px 0px ;
    text-align: justify;
    line-height: 2em;
}
a.externo::after{
    content:"\1F517";
}
:root {
    --cor01: #c5ebd6;   
    --cor02: #83e1ad;
    --cor03: #3ddc84;
    --cor04: #1a5c37;
    --cor05: #063d1e;

    --fontepadrao: Arial, Verdana, Helvetica, sans-serif;
    --fontedestaque:"Bebas Neue";
    --fonteandroid:"Android";
}

body{
    background-color: #c5ebd6;
    font-family: var(--fontepadrao);

}
header {
        background-color: var(--cor04);
        min-height: 150px;
        text-align: center;
        padding-top:20px;
        background-image: linear-gradient(to bottom, var(--cor03), var(--cor04));
}

header >p {
    color: white;
    font-family: var(--fontepadrao);
    font-size: 1em;
    max-width: 500px;
    margin: auto;
    text-shadow: -4px 3px 3px black;
    font-weight: normal;

}
header>h1 {
    color: white;
    font-family: var(--fontedestaque);
    margin-bottom: 20px;
    font-size: 3em;
    text-shadow: -4px 3px 3px black;
    font-weight: normal;

}

nav {
    background-color: var(--cor04);
    padding: 10px;
    box-shadow: -6px 7px 8px rgba(0, 0, 0, 0.644);

}
nav > a {
    color: white;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
}
nav > a:hover{
    background-color: #2a8d55;
    color: #83e1ad;
    transition-duration: 1s;

}
main {
    background-color: white;
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.61);
    margin-bottom: 30px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;

}

div.video{
    background-color: cadetblue;
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 58%;
    position: relative;
}
div.video>iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}
main a {
    text-decoration: none;
    font-weight: bold;
    color: var(--cor05);
    background-color: var(--cor01);
    padding: 2px 6px;
}
main a:hover{
    background-color: var(--cor02);
    text-decoration: underline;
    transition-duration: .5s;
}
main img.pequena{
    width: 30%;
    display: block;
    margin: auto;
}

main img {
    width: 100%;
}
main strong {
    color: var(--cor04);
    font-weight: bold;
    padding: 2px 6px;

}

main h1 {
    color: var(--cor05);
    font-family:var(--fonteandroid);

}
main h2 {
    font-family: var(--fonteandroid);
    font-size: 1.3em;
    background-image:linear-gradient(to right, var(--cor02), transparent);
    text-indent: 8px;
}
aside{
    background-color: var(--cor02);
    padding: 10px;
    border-radius: 10px;
    box-shadow:3px 3px 8px rgba(0, 0, 0, 0.527);

}
aside >h3 {
    padding: 10px;
    background-color: #1a5c37;
    color: white;
    margin-bottom: 15px;
    margin: -10px -10px 10px -10px;
    border-radius: 10px 10px 0px 0px;

}
aside > ul{
    list-style-position: inside;
    columns: 2;
}
footer >p {
    background-color: var(--cor05);
    color: rgb(64, 184, 80);
    text-align: center;
    font-weight: bold;
    font-family: 'Arial', Times, non-serif;
}
